doctype html
html
  head
    meta(charset='utf-8')
    block title
      title Tikui
    link(rel='stylesheet', href='/documentation/style.css')
    link(rel='stylesheet', href='/lib/prismjs/prism.css')
  body
    block body
    :reload
    script(src='/lib/prismjs/prism.js')
    script(src='/lib/prismjs/prism-pug.js')
