doctype html
html
  head
    meta(charset='UTF-8')
    block title
      title Tikui
    link(rel='stylesheet', href='/documentation/style.css')
    link(rel='stylesheet', href='/documentation/lib/prism.css')
  body
    block body
    :reload
    script(src='/documentation/lib/prism.js')
