blockquote.blockquote(cite='http://bradfrost.com/blog/post/atomic-web-design/#atoms')
  p.mb-0 Atoms are the basic building blocks of matter. Applied to web interfaces, atoms are our HTML tags, such as a form label, an input or a button.

  p.mb-0 Atoms can also include more abstract elements like color palettes, fonts and even more invisible aspects of an interface like animations.

  footer.blockquote-footer #[cite Atomic Design] by Brad Frost
