blockquote.blockquote(cite='http://bradfrost.com/blog/post/atomic-web-design/#organisms')
  p.mb-0 Organisms are groups of molecules joined together to form a relatively complex, distinct section of an interface.

  p.mb-0 Building up from molecules to organisms encourages creating standalone, portable, reusable components.

  footer.blockquote-footer #[cite Atomic Design] by Brad Frost
