extends /layout-documentation

block title
  title Tikui

block content
  .tikui-vertical-spacing.-s32
    .tikui-vertical-spacing--line
      h1.tikui-title-main Tikui pattern library
    .tikui-vertical-spacing--line
      .tikui-vertical-spacing.-s24
        .tikui-vertical-spacing--line
          h2.tikui-title-section Use
        .tikui-vertical-spacing--line
          p.tikui-paragraph Import style using #[strong &lt;link&gt;] tag and replace #[strong {DOMAIN}] with the current domain:
        .tikui-vertical-spacing--line
          p.tikui-paragraph
            em HTML
        .tikui-vertical-spacing--line
          pre
            code.language-html.
              &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1, shrink-to-fit=no&quot; /&gt;

              &lt;link rel=&quot;stylesheet&quot; href=&quot;{DOMAIN}/tikui.css&quot; /&gt;
        .tikui-vertical-spacing--line
          p.tikui-paragraph
            em Pug
        .tikui-vertical-spacing--line
          pre
            code.language-pug.
              meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

              link(rel='stylesheet' href='{DOMAIN}/tikui.css')
        .tikui-vertical-spacing--line
          h2.tikui-title-section Documentation
        .tikui-vertical-spacing--line
          p.tikui-paragraph The Style have an #[a.tikui-link(href='http://atomicdesign.bradfrost.com' target='_blank') Atomic Design] organization.
        .tikui-vertical-spacing--line
          ul.tikui-list
            li
              a.tikui-link(href='/atom/atom.html') Atoms
            li
              a.tikui-link(href='/molecule/molecule.html') Molecules
            li
              a.tikui-link(href='/organism/organism.html') Organisms
            li
              a.tikui-link(href='/template/template.html') Templates
