extends /documentation/layout-atomic

include /documentation/mixin

block header
  block vars
    -let active='';
    -const isActive = current => current === active;
  +tikui-navbar('/', 'Tikui')
    +tikui-navbar-item('/atom/atom.html', 'Atoms', isActive('atom'))
    +tikui-navbar-item('/molecule/molecule.html', 'Molecules', isActive('molecule'))
    +tikui-navbar-item('/organism/organism.html', 'Organisms', isActive('organism'))
    +tikui-navbar-item('/template/template.html', 'Templates', isActive('template'))
